# Entornos virtuales
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (¡Crítico para que no se filtren tus claves de Supabase!)
.env
AGENTS.md

# Archivos de la base de datos local
db.sqlite3

# Archivos de Vercel
.vercel/

# Archivos estáticos y multimedia
/staticfiles/
/media/

# Proveedores de iconos locales (integraciones privadas)
gestion/management/commands/seed_categorias.py