{% extends "gestion/base.html" %}
{% load static %}

{% block title %}Reproductor{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/reproductor.css' %}">{% endblock %}

{% block content %}
<button class="btn-back" onclick="history.back()" title="Cerrar reproductor">
    <i data-lucide="x" style="width:20px;height:20px"></i>
</button>

<iframe id="video-iframe"
        src="{{ embed_url }}"
        allowfullscreen
        allow="autoplay; fullscreen; picture-in-picture"
        frameborder="0"
        scrolling="no">
</iframe>
{% endblock %}

{% block extra_js %}
<script>
    window.onload = () => {
        const iframe = document.getElementById('video-iframe');
        if(iframe.contentWindow) iframe.focus();
    };
    document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') history.back();
    });
</script>
{% endblock %}
